<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
  <script type="module" src="../core-components/video-viewer.js"></script>
  <script type="module" src="../core-components/cue-viewer.js"></script>
  <title>Play video - WebComponents</title>
  <style>
    body>div {
      display: grid;
      grid-template-columns: auto 600px 300px auto;
      grid-template-rows: 1fr;
      grid-template-areas: ". video cues .";
    }

    video-viewer {
      grid-area: video;
    }

    cue-viewer {
      grid-area: cues;
    }
  </style>
</head>
<body>
  <div>
    <video-viewer videofile="../assets/developerStories-en.mp4" videotype="video/mp4"></video-viewer>
    <cue-viewer></cue-viewer>
  </div>
  <script>
    const video = document.querySelector('video-viewer');

    video.addEventListener('cuesUpdated', e=>{
      console.log (e);
      document.querySelector('cue-viewer').setAttribute('cues', JSON.stringify(e.detail.cues));
    });

    timer(3).then(()=>{                                      // Wait 6 seconds
      video.setAttribute("vttfile", "../assets/developerStories-subtitles-en.vtt");
    });

    /**
     * Create a promise that will resolve after the given time.
     *
     * @param  Number sec how long (in seconds) to wait before resolving the promise
     * @return Promise will be resolved when the desired time has passed
     */
    function timer(sec) {
      return new Promise((resolve, reject)=>{
        window.setTimeout(resolve, sec*1000);  // Resolve when time has passed
      });
    }
  </script>
</body>
</html>
